<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="#{cargo.admin.header}">Cargo Administration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin.css}"/>
</head>

<body>
<div id="outer">
    <div th:replace="adminDecorator :: adminbody"/>
    <div id="body">
        <table border="1" width="600">
            <caption th:text="#{cargo.admin.tablecaption}">All cargos</caption>
            <thead>
            <tr>
                <td th:text="#{cargo.admin.tableheader.trackingid}">Tracking ID</td>
                <td th:text="#{cargo.admin.tableheader.origin}">Origin</td>
                <td th:text="#{cargo.admin.tableheader.destination}">Destination</td>
                <td th:text="#{cargo.admin.tableheader.routed}">Routed</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cargo : ${cargoList}">
                <td>
                    <a th:href="@{/admin/show(trackingId=${cargo.trackingId})}"
                       th:text="${cargo.trackingId}">Tracking id</a>
                </td>
                <td th:text="${cargo.origin}">Origin</td>
                <td th:text="${cargo.finalDestination}">Final destination</td>
                <td th:text="(${cargo.misrouted} ? #{cargo.misrouted} : '') + (${cargo.routed} ? #{misc.yes} : #{misc.no})">Routed</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>