<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="#{cargo.admin.header}">Cargo Administration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin.css}"/>
</head>
<body>
<div th:replace="adminDecorator :: adminbody"/>
<div id="container">
    <table>
        <caption th:text="#{cargo.admin.details.caption} + ' ' + ${cargo.trackingId}"></caption>
        <tbody>
        <tr>
            <td th:text="#{cargo.admin.tableheader.origin}">Origin</td>
            <td th:text="${cargo.origin}"></td>
        </tr>
        <tr>
            <td th:text="#{cargo.admin.tableheader.destination}">Destination</td>
            <td th:text="${cargo.finalDestination}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a th:href="@{/admin/pickNewDestination(trackingId=${cargo.trackingId})}" th:text="#{cargo.admin.details.picknewdest}">Change destination</a>
            </td>
        </tr>
        <tr>
            <td th:text="#{cargo.admin.details.arrivaldeadline}">Arrival deadline</td>
            <td th:text="${#dates.format(cargo.arrivalDeadline,'dd/MM/yyyy')}"/>
        </tr>
        </tbody>
    </table>
    <p></p>
    <th:block th:if="${cargo.routed}">
        <th:block th:if="${cargo.misrouted}">
            <p><em th:text="#{cargo.admin.details.misrouted}">Cargo is misrouted</em> - <a th:href="@{/admin/selectItinerary(trackingId=${cargo.trackingId})}" th:text="#{cargo.admin.details.reroute}" style="font-weight: italic;">reroute
                this cargo</a></p>
        </th:block>
        <table border="1">
            <caption th:text="#{cargo.admin.details.itinerary}">Itinerary</caption>
            <thead>
            <tr>
                <td th:text="#{cargo.admin.details.voyageno}">Voyage number</td>
                <td colspan="2" th:text="#{cargo.admin.details.load}">Load</td>
                <td colspan="2" th:text="#{cargo.admin.details.unload}">Unload</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="leg : ${cargo.legs}">
                <td th:text="${leg.voyageNumber}"></td>
                <td th:text="${leg.from}"></td>
                <td th:text="${#dates.format(leg.loadTime,'dd/MM/yyyy')}"/>
                <td th:text="${leg.to}"></td>
                <td th:text="${#dates.format(leg.unloadTime,'dd/MM/yyyy')}"/>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:if="${!cargo.routed}">
        <p>
            <strong th:text="#{cargo.notrouted}">Not routed</strong> - <a th:href="@{/admin/selectItinerary(trackingId=${cargo.trackingId})}" th:text="#{cargo.admin.details.selectitinerary}">Route this cargo</a>
        </p>
    </th:block>
</div>
</body>
</html>