<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 
		Properties
	-->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>jdbc.properties</value>
				<value>log4j.properties</value>
			</list>
		</property>
	</bean>

	<!-- 
		Beans
	-->
	<bean id="cargoRepository" class="se.citerus.dddsample.repository.CargoRepositoryInMem">
	</bean>

	<bean id="cargoService" class="se.citerus.dddsample.service.CargoServiceImpl">
		<property name="cargoRepository" ref="cargoRepository" />
	</bean>


	<!-- 
		<bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		</bean>
		
		<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="testataSource" />
		<property name="mappingResources">
		<list>
		<value>cargo.hbm.xml</value>
		</list>
		</property>
		<property name="hibernateProperties">
		<value>
		hibernate.dialect=org.hibernate.dialect.HSQLDialect
		</value>
		</property>
		</bean>
	-->
</beans>
