<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
    <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <mapping class="se.citerus.dddsample.domain.Cargo"/>
    <mapping class="se.citerus.dddsample.domain.Location"/>
    <mapping class="se.citerus.dddsample.domain.HandlingEvent"/>
    <mapping class="se.citerus.dddsample.domain.CarrierMovement"/>
  </session-factory>

</hibernate-configuration>
