<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="adminbody">
    <img id="logotype" th:src="@{/images/dddsample_logotype_small.png}" alt=""/>
    <h1><td th:text="#{booking.header}">Cargo Booking and Routing</td></h1>
    <ul id="menu">
        <li>
            <a th:href="@{/admin/list}" th:text="#{booking.listall}">
                List all cargos
            </a>
        </li>
        <li>
            <a th:href="@{/admin/registration}" th:text="#{booking.booknew}">
                Book new cargo
            </a>
        </li>
    </ul>
</th:block>
</body>
</html>
