.bigtext {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;

  color: orange;
  text-shadow: black 2px 2px 5px;
}

.smalltext {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  margin-right: 4rem;
  float: right;
}

.logo a {
  text-decoration: none;
  color: black;
}
